<!-- cart with product -->

<div class="container">
  <div class="row" *ngIf="Allcart.length != 0">
    <div class="col mt-5">
      <!-- table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of Allcart; let i = index">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.title }}</td>
            <td>
              <img [src]="item.image" width="100px" height="150px" alt="" />
            </td>
            <td>
              <div class="d-flex">
                <button (click)="incrementCartProduct(item.id)" class="btn">
                  +
                </button>
                <input
                  type="text"
                  class="form-control"
                  readOnly
                  [value]="item.quantity"
                  value="50"
                />
                <button (click)="decrementCartProduct(item.id)" class="btn">
                  -
                </button>
              </div>
            </td>
            <td>{{ item.price }}</td>
            <td>
              <button (click)="deleteCartProduct(item.id)" class="btn">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col border p-5 shadow ms-2">
        <!-- summary -->
        <h2 class="text-center">Product Bill</h2>
        <h3>Price:{{ cartTotalPrice }}</h3>
        <h3>Discount:20%</h3>
        <h1>Grand Total:{{ cartTotalPrice }}</h1>
        <div class="text-center">
          <button
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            class="btn btn-success"
          >
            Check Out
          </button>
          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Check Out Details
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form *ngIf="!proceedToPayment" [formGroup]="addressForm" (ngSubmit)="submitForm()">
                    <h3 class="text-center m-3">Enter Your Delivery Details</h3>
                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        class="form-control"
                        formControlName="name"
                        name="name"
                        placeholder="Name"
                      />
                      <label for="">name</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        class="form-control"
                        formControlName="houseNumber"
                        name="houseNumber"
                        placeholder="House Number"
                      />
                      <label for=""> houseNumber</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        class="form-control"
                        formControlName="streetName"
                        name="streetName"
                        placeholder="Street Name"
                      />
                      <label for="">streetName</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        class="form-control"
                        formControlName="state"
                        name="state"
                        placeholder="State"
                      />
                      <label for="">state </label>
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        class="form-control"
                        formControlName="pinNumber"
                        name="pinNumber"
                        placeholder="Pincode"
                      />
                      <label for="">pincode</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        required
                        type="text"
                        class="form-control"
                        formControlName="mobileNumber"
                        name="mobileNumber"
                        placeholder="Mobile Number"
                      />
                      <label for="">mobileNumber</label>
                    </div>
                    <div>
                      <h2>Total Price:{{cartTotalPrice}}</h2>
                    </div>
                               <!-- Offers -->
                  <div *ngIf="!discountStatus">
                    <h5 class="btn " (click)="offerClicked()">Offers<i class="fa-solid fa-tag fa-beat text-danger"></i></h5>
                  </div>
                  <!-- discounts -->
                  <div *ngIf="offerClick && !discountStatus">
                    <!-- 10% off -->
                    <img width="100px"(click)="discountCalculate(10)" *ngIf="cartTotalPrice<=100" src="https://www.nicepng.com/png/detail/396-3966505_10-percent-off-png-download-image-10-percent.png" alt="">
                    <!-- 30% off -->
                    <img width="100px" (click)="discountCalculate(30)" *ngIf="cartTotalPrice>100 && cartTotalPrice<=500" src="https://www.pngall.com/wp-content/uploads/13/30-Discount-PNG.png" alt="">
                    <!-- 50% off -->
                    <img width="100px" (click)="discountCalculate(50)" *ngIf="cartTotalPrice>500 " src="https://w7.pngwing.com/pngs/910/1008/png-transparent-customer-service-sales-50-off-s-company-text-trademark-thumbnail.png" alt="">
                  </div>
                  <!-- Make Payment -->
                    <div class="text-center m-3">
                      <button class="btn btn-primary">Payment</button>
                    </div>
                  </form>
                 
                  <!-- After the form has been submitted -->
                </div>
                <div *ngIf="proceedToPayment">
                  <h6>Your Delivery Adress Details</h6>
                  <p>{{ name }}</p>
                  <p>{{ houseNumber }}</p>
                  <p>{{ streetName }}</p>
                  <p>{{ state }}</p>
                  <p>{{ pincode }}</p>
                  <p>{{ mobileNumber }}</p>
                  <div class="text-center m-3">
                    <button (click)="Makepay()" class="btn btn-success">Proceed To Payment</button>
                  </div>
                  <div *ngIf="shopaypalButton">
                    <!-- payapal -->
<ngx-paypal [config]="payPalConfig"></ngx-paypal>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- empty  cart -->
<div *ngIf="Allcart.length == 0" class="container text-center p-5">
  <h1>Your Cart was Empty👻👻👻</h1>
  <img
    src="https://media.tenor.com/images/b8cfc0a9f0bcb7d127f632e6f3990708/tenor.gif"
    alt=""
  />
  <button class="btn btn-dark">Shop More</button>
</div>
